.container{
}
.number{
  font-size: 20px;
  width: 20px;
  border: solid black 2px;
  background-color: lightslategrey;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.buttons{
 
}
