.display{
  width: 100%;
  height: 100px;
  background: black;
  flex-wrap: flex;
  border: none;
}
button{
  height: 100px;
  width: 120px;
  font-size: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
operator{
  background-color: yellow;

}
