.container{
  height: 10rem;
display: grid;
justify-content: center;
align-items: center;
}
.number{

}
.buttons{
  height: 10rem;
  display: grid;
  justify-content: center;
  align-items: center;
}
